#Operational presence config file

operational_presence_default:
  scrapers_with_defaults:
    - "operational_presence_afg"
    - "operational_presence_caf"
    - "operational_presence_cmr"
    - "operational_presence_cod"
    - "operational_presence_col"
    - "operational_presence_eth"
    - "operational_presence_gtm"
    - "operational_presence_hnd"
    - "operational_presence_hti"
    - "operational_presence_lbn"
    - "operational_presence_mli"
    - "operational_presence_moz"
    - "operational_presence_ner"
    - "operational_presence_nga"
    - "operational_presence_sdn"
    - "operational_presence_ssd"
    - "operational_presence_yem"
  output:
    - "org_name"
    - "org_acronym"
    - "org_type_name"
    - "sector"
    - "adm1_name"
    - "adm2_name"
  output_hxl:
    - "#org+name"
    - "#org+acronym"
    - "#org+type+name"
    - "#sector"
    - "#adm1+name"
    - "#adm2+name"

operational_presence_admintwo:
  operational_presence_afg:
    dataset: "afghanistan-who-does-what-where-april-to-june-2024"
    resource: "afghanistan-3w-operational-presence-april-june-2024.csv"
    format: "csv"
    headers: 1
    use_hxl: True
    admin:
      - ~
      - "#adm2+code"
    admin_exact: True
    input:
      - "#org +name"
      - "#org +acronym"
      - "#org +type +name"
      - "#sector +cluster +name"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org +name"
      - "#org +acronym"
      - "#org +type +name"
      - "#sector +cluster +name"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_caf:
    dataset: "republique-centrafricaine-presence-operationnelle"
    resource: "3W_CAR_Mar2024"
    format: "xlsx"
    xlsx2csv: True
    sheet: "OCHA CAR 3W OP T1 2024"
    headers:
      - 1
      - 2
    source_date:
      start: "01/01/2024"
      end: "31/03/2024"
    use_hxl: False
    admin:
      - ~
      - "PCODE2 #adm2+code"
    admin_exact: True
    input:
      - "Description_Acteur"
      - "ACTEUR #org+acronym"
      - "TYPE_ORG"
      - "SECTEUR #sector"
      - "PREFECTURE #adm1+name"
      - "SOUSPREFECTURE #adm2+name"
    list:
      - "Description_Acteur"
      - "ACTEUR #org+acronym"
      - "TYPE_ORG"
      - "SECTEUR #sector"
      - "PREFECTURE #adm1+name"
      - "SOUSPREFECTURE #adm2+name"

  operational_presence_cmr:
    dataset: "cameroon-5w-operational-presence"
    resource: "cmr_3w_national_june_2024"
    format: "xlsx"
    xlsx2csv: True
    sheet: "db"
    headers: 1
    use_hxl: True
    source_date:
      start: "04/01/2024"
      end: "30/06/2024"
    admin:
      - ~
      - "#adm2 +code"
    admin_exact: True
    input:
      - "#org +impl +name"
      - "#org  + impl +acronym"
      - "#org +impl +type"
      - "#sector +cluster +name"
      - "#adm1 +name"
      - "#adm2 +name"
    list:
      - "#org +impl +name"
      - "#org  + impl +acronym"
      - "#org +impl +type"
      - "#sector +cluster +name"
      - "#adm1 +name"
      - "#adm2 +name"

  operational_presence_cod:
    dataset: "drc_presence_operationnelle"
    resource: "rdc-3w_avril-2024"
    format: "xlsx"
    xlsx2csv: True
    sheet: "Compilation_VF"
    headers: 1
    source_date:
      start: "01/04/2024"
      end: "30/04/2024"
    admin:
      - ~
      - "Code Terrtoire"
    admin_exact: True
    input:
      - "NOM ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne A)"
      - "ACCRONYME
        (Choisir dans la liste déroulante)"
      - "TYPE ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne B)"
      - "CLUSTER
        (Choisir dans la liste déroulante)
        Pour les projets humanitaires uniquement"
      - "Province"
      - "Territoire"
    list:
      - "NOM ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne A)"
      - "ACCRONYME
        (Choisir dans la liste déroulante)"
      - "TYPE ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne B)"
      - "CLUSTER
        (Choisir dans la liste déroulante)
         Pour les projets humanitaires uniquement"
      - "Province"
      - "Territoire"

  operational_presence_col:
    dataset: "colombia-4ws"
    resource: "COL_345W_Jan-Dec2023.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "Hoja-1"
    headers: 1
    source_date:
      start: "01/01/2023"
      end: "31/12/2023"
    admin:
      - ~
      - "Pcode 2"
    admin_exact: True
    input:
      - "IMPLEMENTER ORGANIZATION"
      - "Organization acronym"
      - "Implementing organization type"
      - "SECTOR / CLUSTER"
      - "DEPARTMENT"
      - "MUNICIPALITY"
    list:
      - "IMPLEMENTER ORGANIZATION"
      - "Organization acronym"
      - "Implementing organization type"
      - "SECTOR / CLUSTER"
      - "DEPARTMENT"
      - "MUNICIPALITY"

  operational_presence_gtm:
    dataset: "guatemala-operational-presence"
    resource: "345W Guatemala"
    format: "csv"
    admin:
      - ~
      - "PCODE2"
    admin_exact: True
    input:
      - "ORGANIZACIÓN IMPLEMENTADORA"
      - "ORGANIZACIÓN IMPLEMENTADORA"
      - "TIPO DE ORGANIZACIÓN IMPLEMENTADORA"
      - "SECTOR / CLUSTER"
      - "ADMIN 1"
      - "ADMIN 2"
    list:
      - "ORGANIZACIÓN IMPLEMENTADORA"
      - "ORGANIZACIÓN IMPLEMENTADORA"
      - "TIPO DE ORGANIZACIÓN IMPLEMENTADORA"
      - "SECTOR / CLUSTER"
      - "ADMIN 1"
      - "ADMIN 2"

  operational_presence_hnd:
    dataset: "345w_honduras_october_2023"
    resource: "345w_honduras_october_2023-hn.csv"
    format: "csv"
    headers: 1
    use_hxl: True
    admin:
      - ~
      - "#adm2+code"
    admin_exact: True
    input:
      - "#org+impl+name"
      - "#org+impl"
      - "#org+type"
      - "#sector"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org+impl+name"
      - "#org+impl"
      - "#org+type"
      - "#sector"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_hti:
    dataset: "haiti-operational-presence"
    resource: "3W_Haiti_HDX_Presence operationnelle"
    format: "xlsx"
    xlsx2csv: True
    sheet: "Pres Op_FINAL"
    headers: 1
    source_date:
      start: "01/09/2023"
      end: "28/02/2024"
    admin:
      - ~
      - "adm2code"
    admin_exact: True
    input:
      - "ORG_NAME_fr"
      - "ORG_ACRONYM_fr"
      - "ORG_TYPE_fr"
      - "SECTORS_fr"
      - "adm1Name"
      - "adm2_Name"
    list:
      - "ORG_NAME_fr"
      - "ORG_ACRONYM_fr"
      - "ORG_TYPE_fr"
      - "SECTORS_fr"
      - "adm1Name"
      - "adm2_Name"

  operational_presence_lbn:
    dataset: "lebanon-operational-presence"
    resource: "lbn_sectorsreporting_bydistrict_20240902_hxlated.csv"
    format: "csv"
    headers: 1
    source_date:
      start: "01/07/2024"
      end: "02/09/2024"
    use_hxl: True
    filter_cols:
      - "#date+year"
      - "#date+quarter"
    prefilter: "#date+year=='2024' and #date+quarter=='Q3'"
    admin:
      - ~
      - "#adm2+code"
    admin_exact: True
    input:
      - "#org+name"
      - "#org+acronym"
      - "#org+type"
      - "#sector+cluster+name"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org+name"
      - "#org+acronym"
      - "#org+type"
      - "#sector+cluster+name"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_mli:
    dataset: "mali-operational-presence"
    resource: "MALI_3W_June_2024"
    format: "xlsx"
    sheet: "ML_5W"
    headers: 1
    source_date:
      start: "01/04/2024"
      end: "30/06/2024"
    use_hxl: False
    admin:
      - ~
      - "admin2Pcod"
    admin_exact: True
    input:
      - "Nom Organisation"
      - "Organisation Accronyme"
      - "Type Organisation"
      - "Cluster"
      - "Region"
      - "Cercle"
    list:
      - "Nom Organisation"
      - "Organisation Accronyme"
      - "Type Organisation"
      - "Cluster"
      - "Region"
      - "Cercle"

  operational_presence_moz:
    dataset: "mozambique-operational-presence"
    resource: "Mozambique_2024_3Ws and Response_ Monitoring_January to August.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "Consolidated_3Ws"
    headers: 1
    source_date:
      start: "01/01/2024"
      end: "31/08/2024"
    use_hxl: False
    admin:
      - ~
      - "District (Admin 2)-pcode (distrito/ cidade)"
    admin_exact: True
    filter_cols:
      - "Implementing Partner (parceiro de implementação)"
    prefilter: "Implementing Partner (parceiro de implementação) is not None"
    input:
      - "Implementing Partner (parceiro de implementação)"
      - "Implementing Partner (parceiro de implementação)"
      - "Organization Type ((tipo de organização)2"
      - "Cluster/ Sector (Cluster/ Setor)"
      - "Province (Admin 1)- (provincia)"
      - "District (Admin 2)- (distrito/ cidade)"
    list:
      - "Implementing Partner (parceiro de implementação)"
      - "Implementing Partner (parceiro de implementação)"
      - "Organization Type ((tipo de organização)2"
      - "Cluster/ Sector (Cluster/ Setor)"
      - "Province (Admin 1)- (provincia)"
      - "District (Admin 2)- (distrito/ cidade)"

  operational_presence_nga:
    dataset: "nigeria-3w"
    resource: "who-is-doing-what-and-where_nga_3w_jan_mar_2024.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "NGA 3Ws Q1(Jan-Mar) 2024"
    headers: 1
    source_date:
      start: "01/01/2024"
      end: "31/03/2024"
    use_hxl: False
    admin:
      - ~
      - "LGA PCode"
    admin_exact: True
    input:
      - "Organisation"
      - "Org. Acronym"
      - "Type of Organization"
      - "Project Sector"
      - "States"
      - "LGA"
    list:
      - "Organisation"
      - "Org. Acronym"
      - "Type of Organization"
      - "Project Sector"
      - "States"
      - "LGA"

  operational_presence_som:
    dataset: "somalia-operational-presence"
    resource: "3Ws_All_Clusters_1st_Qtr_2024.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "1st Qtr 3Ws"
    headers: 1
    use_hxl: True
    source_date:
      start: "01/01/2024"
      end: "31/03/2024"
    admin:
      - ~
      - "#adm2+code"
    admin_exact: True
    input:
      - "#org+name"
      - "#org+type"
      - "#sector+cluster+name"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org+name"
      - "#org+type"
      - "#sector+cluster+name"
      - "#adm1+name"
      - "#adm2+name"
    output:
      - "org_name"
      - "org_type_name"
      - "sector"
      - "adm1_name"
      - "adm2_name"
    output_hxl:
      - "#org+name"
      - "#org+type+name"
      - "#sector"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_ven:
    dataset: "venezuela-who-does-what-and-where-3w"
    resource: "VEN_5W_Jan-Oct2023.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "DATOS"
    headers: 1
    source_date:
      start: "01/01/2023"
      end: "31/10/2023"
    admin:
      - ~
      - "#adm2+code"
    admin_exact: True
    input:
      - "#org+impl"
      - "#sector+acronym"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org+impl"
      - "#sector+acronym"
      - "#adm1+name"
      - "#adm2+name"
    output:
      - "org_name"
      - "sector"
      - "adm1_name"
      - "adm2_name"
    output_hxl:
      - "#org+name"
      - "#sector"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_yem:
    dataset: "yemen-monthly-organizations-presence-3w"
    resource: "presence-data-jan-may-2024.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "v_4w_presence_admin2"
    headers: 1
    source_date:
      start: "01/01/2024"
      end: "31/05/2024"
    admin:
      - ~
      - "admin2pcode"
    admin_exact: True
    input:
      - "organisation_name"
      - "organisation_acronym"
      - "organisation_type_short"
      - "label"
      - "admin1name_en"
      - "admin2name_en"
    list:
      - "organisation_name"
      - "organisation_acronym"
      - "organisation_type_short"
      - "label"
      - "admin1name_en"
      - "admin2name_en"

operational_presence_adminone:
  operational_presence_tcd:
    dataset: "chad-operational-presence"
    resource: "3W_TCD_June2024"
    format: "xlsx"
    xlsx2csv: True
    sheet: "3w opérationnelle"
    headers: 1
    source_date:
      start: "01/06/2024"
      end: "30/06/2024"
    use_hxl: False
    admin:
      - ~
      - "Pcode1"
    admin_exact: True
    input:
      - "Nom de l'organisation"
      - "Acronyme"
      - "Type d'organisation"
      - "Cluster"
      - "Province"
    list:
      - "Nom de l'organisation"
      - "Acronyme"
      - "Type d'organisation"
      - "Cluster"
      - "Province"
    output:
      - "org_name"
      - "org_acronym"
      - "org_type_name"
      - "sector"
      - "adm1_name"
    output_hxl:
      - "#org+name"
      - "#org+acronym"
      - "#org+type+name"
      - "#sector"
      - "#adm1+name"

operational_presence_national:

  # missing org acronym / name distinction, org types
  # pcodes are only available for admin 3, and they are broken in the spreadsheet
  operational_presence_bfa:
    dataset: "burkina-faso-presence-operationnelle"
    resource: "3W Burkina Faso March-April 2024"
    format: "xlsx"
    xlsx2csv: True
    sheet: "MATRICE"
    headers: 2
    source_date:
      start: "01/03/2024"
      end: "30/04/2024"
    use_hxl: True
    admin_single: "BFA"
    input:
      - "#org+name"
      - "#sector"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org+name"
      - "#sector"
      - "#adm1+name"
      - "#adm2+name"
    output:
      - "org_name"
      - "sector"
      - "adm1_name"
      - "adm2_name"
    output_hxl:
      - "#org+name"
      - "#sector"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_eth:
    dataset: "ethiopia-operational-presence"
    resource: "Ethiopia Who is Doing What Where (4W) - August 2024.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "April 2024"
    headers: 1
    use_hxl: True
    source_date:
      start: "01/08/2024"
      end: "31/08/2024"
    admin_single: "ETH"
    input:
      - "#org+impl+name"
      - "#org+impl2+name"
      - "#org+impl+type"
      - "#sector+cluster"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org+impl+name"
      - "#org+impl2+name"
      - "#org+impl+type"
      - "#sector+cluster"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_ner:
    dataset: "niger-operational-presence"
    resource: "NER_Jun_2024"
    format: "xlsx"
    xlsx2csv: True
    sheet: "3w_OP_Nationale_compilation"
    headers:
      - 1
      - 2
    source_date:
      start: "01/06/2024"
      end: "08/06/2024"
    admin_single: "NER"
    input:
      - "NOM ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne A)
        #org+name"
      - "ACCRONYME
        (Choisir dans la liste déroulante)
        #org+acronym"
      - "TYPE ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne B"
      - "CLUSTER
        (Choisir dans la liste déroulante) Pour les projets humanitaires uniquement
        #sector"
      - "REGION (Choisir dans la liste déroulante) #adm1+name"
      - "DEPARTEMENT (Choisir dans la liste déroulante) #adm2+name"
    list:
      - "NOM ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne A)
        #org+name"
      - "ACCRONYME
        (Choisir dans la liste déroulante)
        #org+acronym"
      - "TYPE ORGANISATION
        (cette colonne est renseignée automatiquement selon la selection dans le colonne B"
      - "CLUSTER
        (Choisir dans la liste déroulante) Pour les projets humanitaires uniquement
        #sector"
      - "REGION (Choisir dans la liste déroulante) #adm1+name"
      - "DEPARTEMENT (Choisir dans la liste déroulante) #adm2+name"

  operational_presence_pse:
    dataset: "state-of-palestine-who-does-what-and-where-3ws"
    resource: "PSE - Who What Where(3w)"
    format: "xlsx"
    xlsx2csv: True
    sheet: "All Clusters"
    headers: 1
    use_hxl: True
    admin_single: "PSE"
    input:
      - "#org+name"
      - "#sector+name"
      - "#adm2+name"
    list:
      - "#org+name"
      - "#sector+name"
      - "#adm2+name"
    output:
      - "org_name"
      - "sector"
      - "adm2_name"
    output_hxl:
      - "#org+name"
      - "#sector"
      - "#adm2+name"

  operational_presence_sdn:
    dataset: "sudan-operational-presence"
    resource: "2024-consolidated-3w-data-jan-to-30-aug.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "Sheet1"
    headers: 1
    use_hxl: True
    source_date:
      start: "01/01/2024"
      end: "30/08/2024"
    admin_single: "SDN"
    input:
      - "#org+name"
      - "#org+acronym"
      - "#org+type"
      - "#sector+cluster"
      - "#adm1+name"
      - "#adm2+name"
    list:
      - "#org+name"
      - "#org+acronym"
      - "#org+type"
      - "#sector+cluster"
      - "#adm1+name"
      - "#adm2+name"

  operational_presence_ssd:
    dataset: "south-sudan-operational-presence"
    resource: "ss_20241106_3w_oerational presence_Jan to Sep_2024.xlsx"
    format: "xlsx"
    xlsx2csv: True
    sheet: "data"
    headers: 1
    source_date:
      start: "01/01/2024"
      end: "30/09/2024"
    admin_single: "SSD"
    input:
      - "Name of organization"
      - "Acronym"
      - "Type"
      - "Cluster"
      - "State"
      - "County"
    list:
      - "Name of organization"
      - "Acronym"
      - "Type"
      - "Cluster"
      - "State"
      - "County"
